snippet cl0 "console.log"
	// begin #########################################
	console.log('${1}:', ${2})
	// end ###########################################

snippet cd0 "console.debug"
	// begin #########################################
	console.debug('${1}:', ${2})
	// end ###########################################

snippet d0 "debugger"
	// begin #########################################
  debugger
	// end ###########################################

