snippet cl0 "console.log"
	// begin #########################################
	console.log(${0})
	// end ###########################################

snippet cd0 "console.debug"
	// begin #########################################
	console.debug(${0})
	// end ###########################################

snippet d0 "debugger"
	// begin #########################################
  debugger
	// end ###########################################

